/* Coolors Exported Palette - https://coolors.co/8e7c93-648767-2e2e3a-7cdf64 */

/* CSS HEX */
--mountbatten-pink: #8e7c93ff;
--reseda-green: #648767ff;
--raisin-black: #2e2e3aff;
--sgbus-green: #7cdf64ff;

/* CSS HSL */
--mountbatten-pink: hsla(287, 10%, 53%, 1);
--reseda-green: hsla(125, 15%, 46%, 1);
--raisin-black: hsla(240, 12%, 20%, 1);
--sgbus-green: hsla(108, 66%, 63%, 1);

/* SCSS HEX */
$mountbatten-pink: #8e7c93ff;
$reseda-green: #648767ff;
$raisin-black: #2e2e3aff;
$sgbus-green: #7cdf64ff;

/* SCSS HSL */
$mountbatten-pink: hsla(287, 10%, 53%, 1);
$reseda-green: hsla(125, 15%, 46%, 1);
$raisin-black: hsla(240, 12%, 20%, 1);
$sgbus-green: hsla(108, 66%, 63%, 1);

/* SCSS RGB */
$mountbatten-pink: rgba(142, 124, 147, 1);
$reseda-green: rgba(100, 135, 103, 1);
$raisin-black: rgba(46, 46, 58, 1);
$sgbus-green: rgba(124, 223, 100, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #8e7c93ff, #648767ff, #2e2e3aff, #7cdf64ff);
$gradient-right: linear-gradient(90deg, #8e7c93ff, #648767ff, #2e2e3aff, #7cdf64ff);
$gradient-bottom: linear-gradient(180deg, #8e7c93ff, #648767ff, #2e2e3aff, #7cdf64ff);
$gradient-left: linear-gradient(270deg, #8e7c93ff, #648767ff, #2e2e3aff, #7cdf64ff);
$gradient-top-right: linear-gradient(45deg, #8e7c93ff, #648767ff, #2e2e3aff, #7cdf64ff);
$gradient-bottom-right: linear-gradient(135deg, #8e7c93ff, #648767ff, #2e2e3aff, #7cdf64ff);
$gradient-top-left: linear-gradient(225deg, #8e7c93ff, #648767ff, #2e2e3aff, #7cdf64ff);
$gradient-bottom-left: linear-gradient(315deg, #8e7c93ff, #648767ff, #2e2e3aff, #7cdf64ff);
$gradient-radial: radial-gradient(#8e7c93ff, #648767ff, #2e2e3aff, #7cdf64ff);