:root {
            --mountbatten-pink: #bcabaeff;
            --reseda-green: #648767ff;
            --raisin-black: #2e2e3aff;
            --sgbus-green: #598a71ff;
            --slime-green: #00cc00ff;
        }
.header{
    background-color: var(--mountbatten-pink);
        padding: 1em 0;
        margin: 0;

}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:fixed;
    top:0;
    width: 100%;
    overflow:hidden;}

.navlistitem{
    float: left;
}
.navlistitem a{
    display: block;
    background-color: var(--raisin-black);
    text-align: center;
    padding:8px 16px;
    color: antiquewhite;
    text-decoration: none;
}
.navlistitem a:hover{
    background-color: var(--slime-green);
    color: antiquewhite;
    text-decoration: none;
}

.scrollertext{
    text-align:left;
    color:antiquewhite;
    background:var(--raisin-black);
    padding:20px 200px;
    font-size:40px;
}

h1{

            font-size: 50px;
            text-align: center;

        }
h2{
            text-align: center;
            font-size: 1.5rem;
}

h5{
    text-align:center;
    font-size:1.4em;
    background: var(--raisin-black);
    padding: 15px 0;
    color: antiquewhite;


}

body{
            color: var(--raisin-black);
            font-family: "Helvetica", serif;
            margin: 0;
            padding: 0;
}

.mainbody{
            padding:10px 200px 0 200px;

}
.center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;}
.mainbody a{
            color: var(--sgbus-green);
            text-decoration: none;
}

#endingbar{
            background: var(--raisin-black);
            color: antiquewhite;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            padding: 5px 200px 75px 200px;
        }
